name: Validate

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Say hello
        run: |
          chmod +x scripts/hello_ci.sh
          scripts/hello_ci.sh

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5

      - name: Terraform fmt & validate
        run: |
          terraform --version
          terraform fmt -check -diff || true
          terraform init -backend=false
          terraform validate

